body{
	font-family: 'Chewy', cursive;
}

#frame {
	margin: 0 auto;
	height: 700px;
	width: 900px;
}

#menu {
	height: 700px;
	width: 900px;
	background-image: url("../images/bubble-background.jpg");
	background-size: 600px 900px;
	background-size: cover;
	background-repeat: no-repeat;
}

#maingame {
	height: 700px;
	width: 900px;
	display:none;
}

#toolbar {
	height: 100px;
	width: 900px;
	position: relative;
	background-image: url("../images/bubble-toolbar.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#timedisplay {
	position: absolute;
	left: 50px;
	width: 100px;
}

#questiondisplay {
	position: absolute;
	left: 400px;
	text-align: center;
}

#livesdisplay {
	position: absolute;
	right:50px;
}

#container {
	position: relative;
	height: 600px;
	width: 900px;
	background-image: url("../images/bubble-background.jpg");
	background-size: 600px 900px;
	background-size: cover;
	background-repeat: no-repeat;
}

.bubble {
	border-radius: 100%;
	position: absolute;
	height: 80px;
	width: 80px;
	background-image: url("../images/bubble.png");
	background-size: 80px 80px;
	background-color: #e3f0fc;
}