body{
	font-family: 'Chewy', cursive;
}

#frame {
	margin: 0 auto;
	height: 700px;
	width: 900px;
}

#menu {
	height: 700px;
	width: 900px;
	background-image: url("../images/bubble-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#maingame {
	height: 700px;
	width: 900px;
	display:none;
}

#toolbar {
	height: 100px;
	width: 900px;
	position: relative;
	background-image: url("../images/bubble-toolbar.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

#timedisplay {
	position: absolute;
	left: 50px;
	width: 100px;
}

#timedisplay h2 {
	margin: 5px;
}

#questiondisplay {
	position: absolute;
	left: 400px;
}

#questiondisplay h2 {
	margin: 5px;
}

#livesdisplay {
	position: absolute;
	right:50px;
}

#livesdisplay h2 {
	position: absolute;
	right:50px;
	margin: 5px;
}

.lives {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-image: url("../images/bubble-lives.png");
	background-size: 40px 40px;
	background-repeat: no-repeat;
	z-index: 1;
}

#life1 {
	position: absolute;
	top: 39px;
	right:108px;
}

#life2 {
	position: absolute;
	top: 39px;
	right: 58px;
}

#life3 {
	position: absolute;
	top: 39px;
	right: 8px;
}

#container {
	position: relative;
	height: 600px;
	width: 900px;
	background-image: url("../images/bubble-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.bubble {
	border-radius: 100%;
	position: absolute;
	height: 80px;
	width: 80px;
	background-image: url("../images/bubble.png");
	background-size: 80px 80px;
	background-color: #e3f0fc;
	z-index: 1;
}